nav {
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  display: none;

  .container {
    height: 90px;
    margin: 0;

    .navbar-header {
      height: 90px;
    }
    .navbar-brand {
      height: 90px;
    }
    ul {
      height: 90px;

      .navbar-nav {
        height: 90px;
        color: darken($color: blue, $amount: 10%);
      }
      li {
        width: 100px;
        height: 90px;
        text-align: center;
        a {
          height: 90px;
          padding-top: 34px;
          padding-bottom: 34px;
          color: darken($color: blue, $amount: 10%);
        }
      }
    }
  }
}
.navbar-default {
  background-image: none;
  height: 90px;
  margin: 0;
  border-radius: 0;
}
.navbar {
  background-color: white;
  border: none;
  position: fixed;

  img {
    max-width: 170px;
  }

  .nav {
    float: right;
  }
}
//Slider
header {
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.jumbotron {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  img {
    width: 100vw;
    height: 100vh;
  }
  .carousel {
    height: 100vh;
    width: 100vw;
  }
  .slide {
    height: 100vh;
    width: 100vw;
  }
  #carousel-example-generic {
    height: 100vh;
    width: 100vw;
  }
}
