nav {
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  .container-fluid {
    height: 90px;
    margin: 0;

    .navbar-header {
      height: 90px;
    }
    .navbar-brand {
      height: 90px;
    }

    .collapse {
      height: 90px;
      .navbar-nav {
        height: 90px;
        color: darken($color: blue, $amount: 10%);
      }
      .navbar-collapse {
        height: 90px;
      }
      .active {
        height: 90px;
      }
      ul {
        height: 90px;
        padding: 0;
        margin: 0;
      }
      li {
        width: 100px;
        height: 90px;
        text-align: center;
        a {
          height: 90px;
          padding-top: 34px;
          padding-bottom: 34px;
          color: darken($color: blue, $amount: 10%);
        }
      }
    }
  }
}
.navbar-default {
  background-image: none;
  height: 90px;
  margin: 0;
  border-radius: 0;
}
.navbar {
  background-color: white;
  border: none;
  position: fixed;

  img {
    max-width: 170px;
  }

  .nav {
    float: right;
  }
}
#bs-example-navbar-collapse-1 {
  height: 90px;
}
//Slider
header {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.jumbotron {
  margin: 0;
  padding: 0;
  position: relative;

  img {
    width: 100vw;
    height: 100vh !important;
    overflow: hidden;
    object-fit: cover;
  }
  .carousel {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .slide {
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  #carousel-example-generic {
    height: 100vh;
    width: 100vw;
  }
  .carousel-control {
    width: 10vw;
    height: 100vh;
  }
}
//destacados
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: darken($color: blue, $amount: 50%);
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: darken($color: blue, $amount: 10%);
}
.thumbnail {
  border: solid 1px lightblue;
  border-radius: 7px;
  padding: 0;
  padding-bottom: 10px;
  text-align: left;
  display: inline-block;
  button {
    height: 40px;
    width: 100px;
    margin: 20px;
  }
  img {
    overflow: hidden;
  }
  h3 {
    color: darkblue;
  }
  p {
    margin: 7px;
    color: gray;
  }
}
//footer
.jumbotron {
  background-color: #222222;
}

.footer-container {
  text-align: left;
  color: white;
  padding: 50px 0 50px 0;
  h3 {
    color: white;
    font-size: 30px;
  }
  i {
    font-size: 30px;
    margin: 15px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  input {
    margin: 10px 0 10px 0;
    color: gray;
    width: 100%;
    height: 40px;
  }
  .enviar {
    width: 50%;
  }
}
